<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="custom-control form-control-lg custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [id]="idCheckBox"
                        [disabled]="disabled" (change)="debounce.next($event.target)">
                    <label class="custom-control-label" [for]="idCheckBox"></label>
                </div>
            </div>
            <div class="col-10">
                <div class="infos-card">
                    <h3 class="card-titulo">{{titulo}}</h3>
                    <span class="card-texto">{{texto}}</span>
                </div>
            </div>
        </div>
    </div>
</div>