<div class="jumbotron mt-5 text-center">
    <h2 class="titulo">Campeonato de Filmes</h2>
    <h1 class="lead fase-jogo">Fase de Seleção</h1>
    <hr class="">
    <p class="descricao-jogo">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão
        Gerar Meu Campeonato para
        prosseguir</p>
</div>

<div class="row">
    <div class="col-6">
        <p class="text-selecionados mb-0">Selecionados</p>
        <p class="text-selecionados">{{quantidadeFilmesSelecionados}} de 8 filmes</p>
    </div>
    <div class="col-6">
        <button class="btn btn-secondary float-right" (click)="iniciarCampeonato()">Gerar meu Campeonato</button>
    </div>
</div>

<div class="row">
    <div class="col-3 mb-3" *ngFor="let filme of filmes">
        <cf-card #cardsCheckBox [disabled]="false" [titulo]="filme.titulo" [texto]="filme.ano" [idCheckBox]="filme.id"
            (onChangeCheckBox)="verificarQuantidadeFilmesSelecionados($event)"></cf-card>
    </div>
</div>