h1, h3 ,p {
    color: #ffffff;
}

hr {
    border-top: 1px solid #fff;
    width: 30px;
}

.jumbotron {
    background-color: #777777;
}

.titulo {
    font-size: 1rem;
    color: #9a9797;
    text-transform: uppercase;
}

.fase-jogo {
    font-size: 2rem;
    font-weight: 500;
}

.descricao-jogo {
    padding-right: 13rem;
    padding-left: 13rem;
}

.text-selecionados {
    font-size: 1.1rem;
    font-weight: 500;
}